.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/webpack.config.js
node_modules/**
.github/**
azure-pipelines**
images/refresh-npm-packages-settings-1.png
images/refresh-npm-packages-settings-2.png
images/refresh-npm-packages.gif
refresh-npm-packages.png